.box1{
	direction: rtl;
	float:left;
}
ul{
	text-align:center;
	list-style-type: none;
}
ul li{
	
	margin-left: 20px;
	text-align:center;
	float:left;
	list-style-type: none;
}
#date{
	text-align: center;
    
}
.clear-box{
	clear:both;
	overflow: hidden;
}
.messages{
	margin-top:10px;
}
