header{
	text-align: center;
	font-size:30px;
	color:#2B669A;
}
.box1{
	direction: rtl;
	float:left;
}
#morning{
	
	background-color: #00d0ff;
	color: white;
}
#morning div{
	float: left;
	margin-left: 10px;
}
#afternoon{
	
	background-color: rgba(251, 255, 0, 0.29);
	color: black;
}
#afternoon div{
	float: left;
	margin-left: 10px;
}
#night{
	
	background-color: rgba(128, 128, 128, 0.77);
	color: white;
}
#night div{
	float: left;
	margin-left: 10px;
}
#mangerMessages {
	margin-right: 10px;
}

#mangerMessages {
	margin-right: 10px;
}
ul{
	text-align:center;
	list-style-type: none;
}
ul li{
	
	margin-right: 20px;
	text-align:center;
	float:left;
	list-style-type: none;
}
#date{
	
}
.clear-box{
	clear:both;
	overflow: hidden;
}
.messages{
	margin-top:10px;
}
