<div class="clear-box"></div>
			<div>date:{{date}}</div>
			<button type="button" class="btn" ng-click="getShiftsInDay()">
				save by week
			</button>
			<form ng-init="getList()" ng-init="getShift()" ng-init="getShiftsInDay()"><hr>
			<input type="number" placeholder="משמרת" ng-model="shift" required />
			<input type="text" placeholder="שם" ng-model="name"  required/><br>
			<input type="text" placeholder="כתובת" ng-model="address" required />
			<input type="number" placeholder="טלפון" ng-model="phone"  required/><br>
			<input type="email" placeholder="example@example.com" ng-model="email" required />
			<hr>
			<div class="box1">
			<input type="checkbox" ng-model="jobTitle.value1"  ng-true-value="'v'" ng-false-value="'x'"/>
			מנהל משמרת
			<input type="checkbox"  ng-model="jobTitle.value2"  ng-true-value="'v'" ng-false-value="'x'"/>
			בקרה
			<input type="checkbox"  ng-model="jobTitle.value3"  ng-true-value="'v'" ng-false-value="'x'"/>
			מפעיל K
			<input type="checkbox"  ng-model="jobTitle.value4"  ng-true-value="'v'" ng-false-value="'x'"/>
			מעבדה
			<input type="checkbox"  ng-model="jobTitle.value5"  ng-true-value="'v'" ng-false-value="'x'"/>
			טכני
			<input type="checkbox"  ng-model="jobTitle.value6"  ng-true-value="'v'" ng-false-value="'x'"/>
			פרילינג
			</div><br><hr>
			<button type="submit" class="btn" ng-click="worker()">
				createWorker
			</button></form>
			<div><!-- <button ng-click="getList()">getList</button> -->
				<table class="table">
					<thead>
						<th>No.</th><th></th><th>shift</th><th>name</th><th>email</th><th>phone</th><th>מנהל משמרת</th><th>בקרה</th><th>מפעיל K</th><th>מעבדה</th><th>טכני</th><th>פרילינג</th>
					</thead>
					<tbody>
						<tr ng-repeat="a in getWorker track by $index">
							<td>{{$index+1}}</td>
							<td><button class="btn-danger" ng-click="deleteWorker($index)">delete</button></td>
							<td>{{a.shift}}</td>
							<td>{{a.name}}</td>
							<td>{{a.email}}</td>
							<td>{{a.phone}}</td>
							<td>{{a.shiftManager}}</td>
							<td>{{a.control}}</td>
							<td>{{a.kOperator}}</td>
							<td>{{a.lab}}</td>
							<td>{{a.k200}}</td>
							<td>{{a.pr}}</td>
							
						</tr>
						
						<br><br>
						
						
					</tbody>
					
				</table>
			</div>
		</div>
	